@import "tailwindcss";

:root {
  --background: #f5f7ff;
  --foreground: #111827;

  --primary: #6366f1; /* indigo */
  --primary-light: #818cf8;
  --card-bg: #ffffff;
  --border: #e5e7eb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, Arial, Helvetica, sans-serif;

  margin: 0;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 10px;
}

.container-padding {
  padding: 24px;
}

.card {
  background: var(--card-bg);
  border-radius: 16px;
  border: 1px solid var(--border);
}

.gradient-card {
  background: linear-gradient(135deg, #6366f1, #7c3aed);
  color: white;
  border-radius: 20px;
}
